@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 auto;
}

img {
  width: 450px;
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  gap: 16px;
  align-items: center;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 200px;
}

.header {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}

.footer {
  background-color: #eeeeee;
  display: flex;
  padding: 10px;
  justify-content: center;
}

.instructions {
  font-weight: 800;
  margin-bottom: 24px;
  max-width: 600px;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: gray;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input[type="number"] {
  width: 200px;
}

.lastResult {
  color: white;
  padding: 3px;
}
