@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

img {
  width: 60vh;
  height: 25vh;
  margin-bottom: 2%;
  border-radius: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  gap: 10px;
  align-items: center;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 200px;
}

.buttons input {
  color: #E5E7EB;
  background-color: #3882f6;
  font-size: 16px;
}

.header {
  display: flex;
  padding: 2vh 4vh;
  justify-content: flex-end;
}

.footer {
  display: flex;
  padding: 1.5vh;
  justify-content: center;
  align-items: center;
  color: #E5E7EB;
  background-color: #3882f6;
  font-size: 3vh;
  position: sticky;
}

.instructions {
  font-weight: 800;
  margin-bottom: 2vh;
  max-width: 600px;
  text-align: center;
  font-size: 18px;
  padding-left: 6vh;
  padding-right: 6vh;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: gray;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.form input[type="number"] {
  width: 200px;
}

#guessSubmit, #startOver {
  align-content: center;
  justify-content: center;
}

p {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.lastResult {
  color: white;
  padding: 3px;
}

@media screen and (min-height: 1600px) {
  .header, .footer {
      height: 50px;
      font-size: 48px;
  }

  input {
    display: flex;
    border: 2px solid #ddd;
    border-radius: 32px;
    padding: 12px 24px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .instructions {
    font-weight: 800;
    max-width: 80vh;
    font-size: 48px;
  }

  .buttons {
    display: flex;
    width: 80%;
    gap: 12px;
    padding: 12px;
  }
}

@media screen and (min-height: 1600px) {
  .header {
    background-color: #3882f6;
    padding-right: 5vh;
  }
}

@media screen and (min-height: 1600px) {
  a {
    font-size: 48px;
    color: #E5E7EB;
  }
}

@media screen and (min-height: 1600px) {
  .form {
    border-radius: 32px;
    font-size: 48px;
    gap: 12%;
    align-items: center;
  }

  #guessField {
    border-radius: 32px;
    font-size: 48px;
    width: 400px;
    height: 100px;
  }

  #guessSubmit, #startOver {
    border-radius: 32px;
    font-size: 48px;
    width: 500px;
    height: 100px;
    align-content: center;
    justify-content: center;
  }

  .form input[type="number"] {
    width: 200px;
    height: 100px;
  }
}

@media screen and (min-height: 1600px) {
  p {
    font-size: 48px;
  }
}

@media screen and (min-height: 1600px) {
  img {
    max-width: 60%;
    max-height: 25%;
    margin-bottom: 2%;
    border-radius: 32px;
  }
}
